<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
    <Product Name="Jam" Id="????????-????-????-????-????????????"
            Version="@MAJOR@.@MINOR@.@RELEASE@" Manufacturer="http://jam-daq.sf.net/"
            Language="1033">
        <Package Id="????????-????-????-????-????????????"
                Comments="This MSI file installs Jam."
                Manufacturer="http://jam-daq.sf.net/" InstallerVersion="200"
                Languages="1033" Compressed="yes"/>
        <Media Id="1" EmbedCab="yes" Cabinet="Jam.cab"/>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="JamDir" Name="Jam" LongName="Jam @MAJOR@.@MINOR@.@RELEASE@">
                    <Component Id="SourceCode"
                            Guid="@SOURCE_GUID@">
                        <File Id="src" Name="JamSrc.zip"
                                DiskId="1" Source="jam-@MAJOR@.@MINOR@.@RELEASE@-src.zip" LongName="jam-@MAJOR@.@MINOR@.@RELEASE@-src.zip"/>
                    </Component>
                    <Directory Id="lib" Name="lib">
                        <Component Id="Libraries"
                                Guid="@LIB_GUID@">
                            <File Id="jamjar" Name="Jam.jar" DiskId="1"
                            	Source="lib/jam-@MAJOR@.@MINOR@.@RELEASE@.jar"
                            	LongName="jam-@MAJOR@.@MINOR@.@RELEASE@.jar" />
                            <File Id="guice" Name="guice.jar" DiskId="1"
                            	Source="lib/guice-1.0.jar" LongName="guice-1.0.jar" />
                            <File
                            	Id="jh" Name="jh.jar" DiskId="1"
                            	Source="lib/jh.jar">
</File>
                        	<File Id="aopalliance" Name="aop.jar"
                        		DiskId="1" Source="lib/aopalliance.jar"
                        		LongName="aopalliance.jar" />
                        </Component>
                    </Directory>
                    <Directory Id="bin" Name="bin">
                        <Component Id="Executables"
                                Guid="@BIN_GUID@">
                            <File Id="Main_program" Name="Jam.exe"
                            	DiskId="1" Source="bin/Jam @MAJOR@.@MINOR@.@RELEASE@.exe"
                            	LongName="Jam @MAJOR@.@MINOR@.@RELEASE@.exe">
                            	<Shortcut Id="Program_shortcut"
                            		Directory="ProgramMenuFolder" Name="Jam"
                            		LongName="Jam @MAJOR@.@MINOR@.@RELEASE@"
                            		Show="normal"
                            		WorkingDirectory="TARGETDIR" />
                            </File>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="PMFolder"></Directory>
        </Directory>
        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="SourceCode"/>
            <ComponentRef Id="Libraries"/>
            <ComponentRef Id="Executables"/>
        </Feature>
    </Product>
</Wix>