<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
    <Product Name="Jam" Id="????????-????-????-????-????????????"
            Version="@MAJOR@.@MINOR@.@RELEASE@" Manufacturer="http://jam-daq.sf.net/"
            Language="1033">
        <Package Id="????????-????-????-????-????????????"
                Comments="This MSI file installs Jam."
                Manufacturer="http://jam-daq.sf.net/" InstallerVersion="200"
                Languages="1033" Compressed="yes"/>
        <Media Id="1" EmbedCab="yes" Cabinet="Jam.cab"/>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="JamDir" Name="Jam" LongName="Jam @MAJOR@.@MINOR@.@RELEASE@">
                    <Component Id="SourceCode"
                            Guid="@SOURCE_GUID@">
                        <File Id="src" Name="JamSrc.zip"
                                DiskId="1" src="JamSrc.zip"/>
                    </Component>
                    <Directory Id="lib" Name="lib">
                        <Component Id="Libraries"
                                Guid="@LIB_GUID@">
                            <File Id="jamjar" Name="Jam.jar" DiskId="1" src="lib/Jam.jar" />
                            <File Id="helpjar" Name="JamHelp.jar" DiskId="1"
                                    src="lib/JamHelp.jar" />
                            <File Id="jh" Name="jh.jar" DiskId="1"
                                    src="lib/jh.jar" />
                        </Component>
                    </Directory>
                    <Directory Id="bin" Name="bin">
                        <Component Id="Executables"
                                Guid="@BIN_GUID@">
                            <File Id="Main_program" Name="Jam.exe" DiskId="1"
                                    src="bin/Jam.exe">
                                <Shortcut Id="Program_shortcut"
                                        Directory="ProgramMenuFolder" Name="Jam"
                                        LongName="Jam @MAJOR@.@MINOR@.@RELEASE@"
                                        Show="normal"
                                        WorkingDirectory="TARGETDIR"/>
                            </File>
                            <File Id="Help_program" Name="JamHelp.exe" DiskId="1"
                                    src="bin/JamHelp.exe">
                                <Shortcut Id="Help_shortcut"
                                        Directory="ProgramMenuFolder" Name="JamHelp"
                                        LongName="Jam @MAJOR@.@MINOR@.@RELEASE@ Help"
                                        Show="normal"
                                        WorkingDirectory="TARGETDIR"/>
                            </File>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="PMFolder"></Directory>
        </Directory>
        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="SourceCode"/>
            <ComponentRef Id="Libraries"/>
            <ComponentRef Id="Executables"/>
        </Feature>
    </Product>
</Wix>